<style>
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  form {
    text-align: center;
  }
</style>

<h1>Hello there!</h1>
<h2>What's your name?</h2>

<form method="post" action="/result">
  <input type="text" name="name">
  <input type="submit" value="Go!">
</form>
