<% if @birthday_today %>
<h1>Happy Birthday <%= @name%>!</h1>
<% else%>
<h1>It is your birthday in <%= @days_until_birthday%> days!</h1>
<% end %>

<form action="/">
  <input type="submit" value="Start again!">
</form>
